<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tensorflow1" version="1.0.0">
    <name>TensorFlow for Cordova</name>

    <description>A TF Cordova plugin.</description>
    <license>MIT</license>
    <keywords>cordova,android,toast,message,alert</keywords>

    <dependency id="cordova-plugin-file-transfer" />
    <dependency id="cordova-plugin-zip" />


    <repo>https://github.com/mrrs6/cordova-plugin-tensorflow1.git</repo>
    <issue>https://github.com/mrrs6/cordova-plugin-tensorflow1/issues</issue>

    <engines>
        <engine name="cordova" version=">=8.0.0"/>
    </engines>

    <js-module src="www/tensorflow.js" name="tensorflow">
        <clobbers target="TensorFlow" />
    </js-module>
    <platform name="android">
        <config-file target="src/main/res/xml/config.xml" parent="/*">
            <feature name="TensorFlow">
                <param name="android-package" value="io.wq.tensorflow.TensorFlow"/>
            </feature>
        </config-file>

        <source-file src="src/android/TensorFlow.java" target-dir="src/io/wq/tensorflow" />

    </platform>



</plugin>
